<form action="/answer" method="get" data-turbo="false">
  <input type="text" name="user_question" value="<%= params[:question] %>" placeholder="Your question here">
  <input type="submit" value="Ask!">
</form>
